@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

body {
  background-color: #f8f3eb;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
  font-family: 'Playfair Display', serif;
}

/* marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.no-scrollbar {
  -ms-overflow-style: none;
}