@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: "Fraunces", serif;
  background-color: #f8f3eb;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

/* Hide scrollbar fully */
.no-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.no-scrollbar {
  -ms-overflow-style: none;
}